/* =Layout
-------------------------------------------------------------- */
h2,
h3 {
	display: block;
	margin: 0 auto;
	max-width: 580px;
	padding: 15px 20px;
	color: #CBEBEF;
	background-color: #383E3F;
}
#benefits-for-you h3 {
	@include divet-right( #383E3F );
}
#benefits-for-community h3 {
	@include divet( #383E3F );
}

.container {
	position: relative;
	margin: auto;
	max-width: 1000px;
}

.callout {
	position: relative;
	clear: both;
	padding: 15px;
	max-width: 370px;
	background-color: #E8ECED;
	border: 10px solid #E8ECED;
	z-index: $foreground;
	@include box-shadow(0 0 5px rgba(0,0,0,.15));
	
	&:after {
	   content: " ";
	   position: absolute;
	   z-index: -1;
	   top: 0px;
	   left: 0px;
	   right: 0px;
	   bottom: 0px;
	   border: 2px solid #53A4B7;
	}
}

#a-story {
	padding: 0 0 190px;
	.callout {
		&.one {
			margin: 140px 0 0 80px;
		}
		&.two {
			float: right;
			margin: -50px 90px 0 0;
		}
		&.three {
			margin: -2px 0 0 144px;
		}
	}
}

#benefits-for-you {
	overflow: hidden;
	padding: 15px 0 130px;
	.callout {
		&.one {
			margin: 156px 0 0 90px;
		}
		&.two {
			float: right;
			margin: 6px 64px 0 0;
			max-width: 410px;
		}
		&.three {
			margin: 340px 0 0 150px;
		}
	}
}

#benefits-for-community {
	padding: 80px 0 320px;
	.callout {
		&.one {
			margin: 370px 0 0 90px;
		}
		&.two {
			float: right;
			margin: 60px 80px 0 0;
		}
		&.three {
			margin: 75px 0 0 100px;
		}
	}
}

#make-the-switch {
	padding: 50px 0 300px;
	.callout {
		&.one {
			margin: 110px 0 0;
		}
	}
}